
	body {
		margin: 0;
		padding:0;
		font-size: 12px;
		background-color:#626a78;
	}

	.top {
		background-color:#243045;
		color:#fff;
		height:66px;
	}
	.top h1 {
		margin:12px;
		display:inline-block;
	}
	.top form {
		padding:8px 8px 0 0;
		margin: 0;
	}
	.top form select {
		margin-bottom: 0px;
		width:auto;
	}
	.top .topbar {
		padding:4px 4px 0 0;
	 	color:#fff;
	}
	
	/* use bootstrap like theme for dialog */
 .ui-dialog{
	font-family: inherit;
	background-color: white;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;

 }
 .ui-dialog .ui-dialog-titlebar {
 	background:none;
 	border: 0;
 	border-bottom: 1px solid #EEE;
 }
 .ui-dialog .form-horizontal .control-group {
 	margin-bottom: 5px;
 }
 .ui-dialog form {margin:0;}
 .ui-dialog .ui-dialog-titlebar .ui-dialog-title{
 	margin: 5px 0;
	line-height: 30px;
	font-size: 24px;
	font-weight: bold;
	font-family: inherit;
	text-rendering: optimizelegibility;
 }


	.container ul { padding:0;margin:0; float:left;min-height:100px; }
	.container li {list-style:none;}

	
	 
	.topbar .login { float:right;}
	.topbar .login a {color:#fff;}


	#indicator {
		text-align:left;
		background: url(ajax-loader.gif) no-repeat 10px;
		width:100px;
		padding-left:145px;
		margin-top:4px;
		color:#fff;
		float:left;

	}

	 #todo {width:260px;overflow-y:auto;overflow-x:hidden;height:95%;}
	 
	 .container, .greeting {border:solid 1px black; background-color:#eef3fb;}
	 .container span {margin:4px;display:block;font-size:1.2em;color:#243045;font-weight:bold;}
	 
	 #options{ float:right;font-size:1.2em;}
	 #options select {padding:4px;}
	 #options span a{color:#fff;margin-right:8px;}

	 .container.row {float:right;margin:5px 5px 0 0; }
	 .container.column {width:244px; float:left; margin:5px 0 0 5px;}
	 .container.half_row {margin:5px 5px 0 0;float:right;}
	 .container.row ul,.container.column ul,.container.half_row ul{width:100%;}

	 .greeting {margin:20px;padding:20px;}
	/* #qa,#done,#blocked,#in_progress {width:100%;}*/
	 
	 


	 
	 .opt-panel {
	 	padding:10px 10px 4px 0px;
	 	float:right;
	 	font-size: 14px;
	 	text-align:right;
	 	min-width:120px;
	 	width:100%;
	 }
	.opt-panel .dropdown-menu {
	 	text-align:left;
	 }

	.card { 
		cursor:pointer;
		font-size:1.0em;
		border:solid 1px #81a7f9;
		margin:2px 0px 6px 6px;
		float:left;
		background-color:#d9e5fa; /*#f4f7f8*/;
		width:230px;
		min-height:80px;
		max-height:200px;
		overflow:hidden;
	}
	.card .card_header {
		background-color:#4c6591; /*#b2e3b6*/;
		padding:2px 4px;
		border-bottom:solid 1px #81a7f9;
		color:#fff;
	}
	.card .card_header span {color:#fff;}

	.card .card_header span {
		float:right;font-size:1em;margin:0;padding:0;
	}

	.card .inner {
		padding:3px;
		line-height:18px;
	}
	.inner div:empty {display:none;}



	.card .inner ul, .card .inner ol {list-style:disc;margin-bottom:4px;min-height:0;}
	.card .inner li {list-style:disc;margin-left:16px;width:210px;}
	.card .inner div {padding:4px 0;}
	.card .inner span {font-size:1em; margin:0;font-weight:inherit;color:inherit;}

	#product_selector {width:280px}


	.card_data div {min-height:20px;}
	.card_data div span {width:142px;display:inline-block;}
	.card_data div textarea {width:98%;min-height:50px;}

	.card_edit div {padding: 1px 0;}
	.card_edit div span {width:180px;}
	.card_edit div input {width:298px;}


	.button {
		padding: 8px;
		background-color: #4C6591;
		border: none;
		color: white;
		border-radius: 3px;
		text-shadow: 0px 1px 0px black;
		width: 100%;
	}
	.button:hover {
		background-color:#3F5377;
		cursor:pointer;
	}
	#alert_dialog div {margin-bottom:20px;}

	#cpanel,.cpanel {height:29px;}
	#cpanel span,.cpanel span{margin:5px;display:inline-block;}
	#sprint_container .action, #card_container .action{
		margin-top:1px;
		background-color: #4C6591;
		font-size:1em;
		text-align:center;
		color:#fff;
		width:100px;
		float:right;
		padding:6px;
		margin-right: 1px;
	}
	#sprint_container .action:hover, #card_container .action:hover {
		background-color:#3F5377;
		cursor:pointer;
	}

	.errorBox {
		padding:5px !important;
		margin:5px 0;
		border-radius:4px;
		background-color:#ffd2d4;/*red: ffd2d4 / yellow: fefccb; */
		border:solid 1px #d18a92;/*red:d18a92 yellow; #e7ec74*/
		height:auto !important;
	}

	/*Editor */
	.html5-editor-container {
		position: relative;
		padding: 0 10px;
		border: 1px solid #c9d0d6;
	   border-radius: 3px;
	   background-color: #fff;
	}

	.html5-editor-container .html5-editor {
		min-height: 50px;
		margin:0px;
		padding: 0 2px;
		overflow: auto;
		max-height: 120px;

	}
	.html5-editor-container .html5-editor:focus {
		 border-color: rgba(82, 168, 236, 0.8);
		  outline: 0;
		  outline: thin dotted \9;
		  /* IE6-9 */

		  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);


	}

	 
	.html5-editor-container .toolbar {
		background-color:#eee;
	}
	.html5-editor-container ul,.html5-editor-container ol{
		min-height:0;float:none;
		padding-left:25px;
		margin: 0;
	}
	.html5-editor-container ul li{
		list-style-type: disc;
	}
	.html5-editor-container ol li{
		list-style-type: decimal;
	}
	.html5-editor-container .toolbar ul {padding-left:0px;}
	.html5-editor-container .toolbar ul li { display:inline-block;}
	.html5-editor-container .toolbar a {
	  font-family: 'Times New Roman', serif;
	  font-size: 12px;
	  text-decoration: none;
	  line-height: 21px;
	  padding: 4px 5px;
	  text-shadow: 0 1px 1px #fff;
	  color: #222;
	}
	.html5-editor-container .toolbar a:hover {
		background-color: #c9d0d6;
	}

.html5-editor-container .toolbar .code {font-family: Fixed, Courier, monospace;}
.html5-editor-container .toolbar .bold {font-weight: bold;}
.html5-editor-container .toolbar .italic {font-style: italic;}
.html5-editor-container .toolbar .underline {text-decoration: underline;}
.html5-editor-container .toolbar .strike {text-decoration: line-through;font-variant: small-caps;}
	/* Mobile view */
	@media only screen and (max-width: 700px) {
		.select2-container {width:160px !important;}

	}
	@media only screen and (max-width: 550px) {
		body {background-color:#fff;}
		.container.column, .container.row, .container.half_row {
			width:96% !important;
			margin: 2px 5px !important;
			float:left;
		}


		


		.top span, #cpanel span {
			display: none;
		}
		
		.opt-panel, #indicator {
			width:96% !important;
			margin:5px ;
			padding:0 ;
			float:none;
		}
		#cpanel .action {width:27%;float:left;}
		/* fall back to native widget on responcive mode to allow mobile devices to use custom handling */
		.top .select2-container {display:none;}
		.top #product_selector {display:inline-block !important;width:100% !important}
		


		.top select {width:100%;}
		.top {height:74px;}
		.top form{float:right;width:40%;}
		.topbar .login {display: none;}
		ul:empty {height:20px;}
		ul {min-height:0;}
		li.card {width:95%;height:auto !important;min-height:0;}

		/* jQuery UI nice-en-er (kinda - basically just make dialogs useable on mobile displays) */
		div.ui-dialog {
			width:100% !important;
			left:0 !important;
			top:0 !important;
			border-radius:0;
			padding:0;
		}
		div.ui-dialog .control-label{
			width:70px;
		}
		div.ui-dialog .controls{
			margin-left:80px;
		}
		div.ui-dialog-titlebar{
			border-radius:0;
			padding:3px;
		}
		div.ui-dialog div input {width:90%;}
	}
	@media only screen and (max-width: 360px) {
		.top h1 {font-size:2.6em;}
		.btn-report {display:none;}
	}
	@media only screen and (max-width: 320px) {
		.top h1 {font-size:2em;}
		body {min-width:260px;}
	}



	#sprint_container .sprint_builder {

		background-color:#4C6591;
		padding:5px;
		color:#fff;
		font-weight:bold;
		clear: both;
	}
	#sprint_container .sprint_builder label {
		width:180px;
		display:inline-block;
	}


	#sprint_container .column ul {min-height:10px;}